<h3 style="text-align: center ;">Map of lost pets</h3>

<div id="map" class="browser-map"></div>

<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnFsBHuxyaO0TGQ7ozMO-V2bgXIf9rPrY&callback=initMap"></script>
<script src="./js/geolocation.js"></script>


{{!-- =============================== --}}

<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      Pets
    </h2>
  </div>
  <!-- For each dish in the array of dish objects, the following <div> will be rendered. -->
  {{#each petDb as |pet|}}
  <div class="dish col-md-5">
    <!-- We use dish.id instead of <od> and <li> elements. -->
    <p>
      {{pet.id}}
      {{pet.name}}
      {{pet.petDescription}} 
    </p>
    <img src={{pet.picture}} alt={{pet.petDescription}}>
  </div>
  <div class="col-md-7">
  </div>
  {{/each}}
</div>

